# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Keep directories
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
